each item in film

    .details__img-wrp
        img(src=`${item.posterPath}` alt="").details__img


    .details__content-wrp


        h2.details__title.title.copy--js 
            span.popup__hidde=`${item.title} скачать без смс и регистрации`
            span.popup__name=item.title
            .popup
                span.popup__title Кликни чтобы скопировать
                span.popup__text Не нужно нажимать 
                    kbd Ctrl
                    kbd C
                br
                span.popup__text Мы ценим ваше время :)


        table.details__table.table

            tr.table__row
                td.table__cell.table__cell--left.text vote / votes
                td.table__cell.text.vote-js=`${item.voteAverage} / ${item.voteCount}`
            tr.table__row
                td.table__cell.table__cell--left.text popularity
                td.table__cell.text.popularity-js=item.popularity
            tr.table__row
                td.table__cell.table__cell--left.text original title
                td.table__cell.text.original-title-js=item.originalTitle
            tr.table__row
                td.table__cell.table__cell--left.text genre
                td.table__cell.text.genre-js=item.genre


        section.details__about

            h2.details__title.title About
            p.details__text.text=item.overview
            
            .details__btn-wrp
                button.details__btn.btn.watched-js(data-key="watched")
                    i.fas.fa-video.details__icon  
                    span  Add to watched

                button.details__btn.btn.queue-js(data-key="queue")
                    i.far.fa-calendar-plus.details__icon  
                    span  Add to queue